.card {
  display: flex;
  background-color: #161617;
  border-radius: 4px;
  border: 1.5px solid #343536;
  margin-bottom: 1rem;
  cursor: pointer;

  position: relative;
}

.card:hover {
  border: 1.5px solid white;
}

.thumbnail {
  /* background-color: aqua; */
}

.thumbnail img {
  height: 10rem;
  margin: 0.5rem;
}

.cardInfo {
  margin-top: 0.5rem;
}

.cardTitle {
  color: #d7dadc;
  font-size: 1.3rem;
  overflow-wrap: break-word;
}

.createdBy {
  color: #6c7493;
  font-size: 1rem;
  margin-top: 0.2rem;
}

.deleteButton {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
