.container {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

.title {
  font-size: 2rem;
  color: white;
}

.createButton {
  border: none;
  padding: 1rem 2rem;
  background-color: #eb7724;
  color: white;
  font-size: 1rem;
  border-radius: 9999px;
  cursor: pointer;
}

.createButton:hover {
  background-color: #e38039;
}

.cardsContainer {
  margin-left: 1rem;
  margin-right: 2rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}
